# Log dosyaları
logs/*
!logs/.gitkeep

# Tales ve test dosyaları (ana klasörleri koru ama içeriklerini izleme)
static/tales/all/*
!static/tales/all/.gitkeep
static/tales/history/*
!static/tales/history/.gitkeep
static/tales/favorites/*
!static/tales/favorites/.gitkeep
static/test_images/*
!static/test_images/.gitkeep

# Geçici dosyalar
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# OS X
.DS_Store

# API Anahtarları
.env

# IDE Dosyaları
.idea/
.vscode/
*.swp
*.swo
